.img{
    background-color: #cccccc;
    background-image: url(../../assets/images/hinh-anh-tour-du-lich-ha-noi-singapore-indonesia-malaysia-bay-vietnam-airlines.jpg);
    width: 100%;
    height: 700px;
  
  }