<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <img src="../../assets/images/logo/logo.png" alt="">
    <ul class="nav">
      <li class="nav-item">
        <a [routerLink]="['/hometravel']" style="color: #EEEEEE;"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-fw w3-margin-right" aria-hidden="true"></i>HOME</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/abouttravel']" style="color: #EEEEEE;"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-th-large fa-fw w3-margin-right"></i>ABOUT</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/commenttravel']" style="color: #EEEEEE;"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>COMMENT</a>
      </li>
      <li class="nav-item" *ngIf="!user">
        <a [routerLink]="['/login']" style="color: #EEEEEE;"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-sign-in fa-fw w3-margin-right" aria-hidden="true"></i>LOGIN</a>
      </li>
      <li  *ngIf="user">
        <a (click)="onLoggedout()" href="http://localhost:4200/hometravel" style="color: #EEEEEE;"  class="w3-bar-item w3-button w3-padding">
          <i class="fa fa-sign-in fa-fw w3-margin-right" aria-hidden="true"></i>LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>
<header>
  <div class="text-center img" >
    <h1 style="padding-top: 300px;color: white"><b>Blog Travel</b></h1>
      <p class="mb-5 width" style="color: white">Cộng đồng du lịch thân thiện nhất thế giới! Cũng như chia sẻ tài nguyên nhiếp ảnh và hơn thế nữa.</p>
  </div>
  <div class="w3-container">
  <div class="w3-section w3-bottombar w3-padding-16">
    <button class="w3-button w3-black"><i class="fa fa-commenting-o w3-margin-right" aria-hidden="true"></i> COMMENT</button>
  </div>
  </div>
</header>


<div class="w3-main">
    <div class="w3-container w3-padding-large ">
      <h4 id="contact"><b>Phản hồi</b></h4>
        <hr class="w3-opacity">
        <form (ngSubmit) = "onSubmit()" target="_blank">
          <div class="w3-section">
            <label>Name</label>
            <input class="w3-input w3-border" [(ngModel)]="talk.name" type="text" name="Name" required>
          </div>
          <div class="w3-section">
            <label>Email</label>
            <input class="w3-input w3-border" [(ngModel)]="talk.email" type="text" name="Email" required>
          </div>
          <div class="w3-section">
            <label>Message</label>
            <input class="w3-input w3-border" [(ngModel)]="talk.message" type="text" name="Message" required>
          </div>
          <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i><a href="http://localhost:4200/commenttravel"></a></button>
        </form>
    </div>

    <!-- Footer -->
    <footer  class="footer-copyright">
      <div class="container">
        <br>
        <div class="foot-icons">
          <ul class="footer-social-links list-inline list-unstyled row">
                    <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
          </ul>
          <p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>
    
        </div>
        <div id="scroll-Top">
          <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>
      </div>
    
    </footer>
</div>





